/bootstrap/compiled.php
 
/vendor

composer.phar

composer.lock

.env.*.php

.env.php

.DS_Store

Thumbs.db

._.*

._*

.DS_Store

public/access.log

public/error.log

.gitkeep

.DS_Store

app/storage/uploads/images

app/storage/uploads/files/excel

app/storage/cache

app/storage/logs

app/storage/meta

app/storage/sessions

app/storage/views

autoload.php

queue.err.log

queue.*

queue.out.log

._*

._.*

artisan 

public/packages

config/*
app/config/local/*